body{
    background-color:lightgray;
}



header{
    
    background-color: #728aa5;
    text-align: center;
     
}

#slideshow{float:left;
}

box1{background-color:blue;}

li{
    display: inline-block;
    }

a{
    color:white;
} 

.dropdown{
    position: relative;
    display: inline-block;
}

.dropbtn{
    background-color: #728aa5;
    color: white;
    padding: 16px;
    font-size: 14px;
    border: none;
    cursor: auto;
    
}

.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#2{
    background-color: green;
    margin:0 auto;
    width:100%;
    text-align: center;
    padding:0;
    float:left;
}


3{
    background-color: purple;
    margin:0 auto;
    width:100%;
    text-align: center;
    padding:0;
    float:left;
    
}

    
}
footer{
    clear:both;
    font: 14px;
    margin: 0 auto;
    text-shadow: 1px 1px #fff;
    width: 100%;
}
#gototop{
     float:left;
    text-align: center;
    cursor: auto;
}
#gtop{
    color:black;
}
#creds{
    float: right;
    text-align: right;
    width: 75%;
}