html,body{
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    font-size:62.5%;
}
body{
    margin:0;
    background-color:#f1f1f1;
}
header{
    width:100%;
    background-color:#728ba8;
}
/*whitespace*/
#space{
    height:5rem;
    width:100%;
    background-color:#ffffff;
}
#slide_show{
    margin:0 auto;
    text-align:center;
    display:block;
    box-sizing:border-box;
    position:relative;
}
/*slideshow_link*/
object{
    display:block;
    margin:0 auto;
    text-align: center;
}
/*navbar*/
nav{
    text-align: center;
    display: block;
    width:100%;
    background-color:#728ba8;
}

nav > ul{
    display:inline-block;
    margin: 0 auto;
    width:70%;
    
}
nav > ul >li{
    margin:0 auto;
    text-align: center;
    padding:0;
    width:calc(100%/7);
    display:inline;
    border-radius:2rem;
    font-size:2rem;
    float:left;
    background-color:#728ba8;
}
/*navbar_extras*/
.nav_a{color:#ffffff;
    text-decoration: none;
}
.nav_a:hover{
    background-color:#ffffff;
    border-radius:.5rem;
    color:#000000;
}    
#slideshow{
   margin:0 auto;
    margin-top:2rem;
    padding:0;
    height:35rem;
    width:75%;
    box-shadow:.3rem .2rem  #ddd;
    border-radius:.5rem;
    background-color:#ffffff;
}
iframe{
    margin:0 auto;
    transform:translateX(25rem);
}
main{
    margin-top:5rem;
    height:100%;
    width:100%;
    background-color:#f1f1f1;
}
/*home_page_1st_box*/
#div_one{
    margin:0 auto;
    margin-top:2rem;
    padding:0;
    height:15rem;
    width:75%;
    box-shadow:.3rem .2rem  #ddd;
    border-radius:.5rem;
    background-color:#ffffff;
}
/*home_page_box_2*/
#div_two{
     margin:0 auto;
    margin-top:2rem;
    padding:0;
    height:35rem;
    width:75%;
    box-shadow:.3rem .2rem  #ddd;
    border-radius:.5rem;
    background-color:#ffffff;
}
/*home_page_leftlist*/
.list_left{
    height:90%;
    width:calc(100%/4);
    float:left;
    font-size:1rem;
    list-style:none;
}
/*home_page_middlelist*/
.list_middle{
    height:90%;
    width:calc(100%/4);
    float:left;
    font-size:1rem;
    list-style:none;
}
/*home_page_rightlist*/
.list_right{
    height:90%;
    width:calc(100%/4);
    float:left;
    font-size:1rem;
    list-style:none;
}

/*links_within_dibs*/
.inner_a{
    clear:both;
    list-style:none;
    color:#53a7d2;
    text-decoration:none;
}
/*links_within_dibs*/
.inner_a:hover{
    color:#53a7d2;
}

footer{
   margin:0 auto;
    margin-top:2rem;
    padding:0;
    height:15rem;
    width:75%; 
}
#return{
    margin:4rem;
    float:left;
    font-size:1.2rem;
}
/*footer*/
.bottom_a{
    clear:both;
    color:#000000;
}
#copyright{
    margin:4rem;
    float:right;
    font-size:1.2rem;
}
/*about_us*/
.div_topleft{
    margin:0 auto;
    box-shadow:.3rem .2rem  #ddd;
    padding:0;
    height:90rem;
    width:75%;
    position:relative;
}
.ul_left{
    margin:0;
    padding:0;
    display:block;
    text-align:center;
    float:left;
    height:auto;
    width:calc(100%/2);
    position:relative;
}
.ul_left >li{
    margin:1rem;
    list-style:none;
    font-size:1.5rem;
}
.h1_left{
   clear:both;
    float:left;
}
.h1_left{
    margin:1rem;
    padding:1rem;
    text-align: center;
}
.h2{
  text-decoration:none;
    color:#000000;
}
.ht:hover{
    color:#53a7d2;
}
.section_right{
    margin:0;
    padding:0;
    float:right;
    height:100%;
    width:calc(100%/4);
    position:relative;
}
.div_right{
    margin:1rem;
    padding:0;
    text-align:center;
    display:block;
    height:20rem;
    width:20rem;
    float:right;
    border:.2rem solid #ddd;
    background-color:#ffffff;
}
.ul_inside{
    margin:0 auto;
    padding:0;
    text-align:center;
    display:block;
    list-style:none;
    font-size:1rem;
}

hr{
    width:80%;
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}

#div_news{
    position:relative;
}
.inner_a{
    clear:both;
    list-style:none;
    color:#53a7d2;
}
/*links_within_rightdibs_*/
.rightdiv_a:hover{
    color:#53a7d2;
}
.rightdiv_a{
    text-decoration:none;
    color:#53a7d2;
}
/*contact*/
#contact_left{
   margin:0 auto;
    box-shadow:.3rem .2rem  #ddd;
    padding:0;
    height:90rem;
    width:75%;
    position:relative;
    background-color:#ffffff;
}
.c_left{
    margin:0 auto;
    width:calc(100%/3);
    text-align: center;
    font-size:2rem;
    float:left;
}
/*donate_page*/
#donate{
    margin-bottom:1rem;
    display:block;
    float:left;
    height:auto;
    width:calc(100%/6);
    position:relative;
    font:3rem;
    transform:translateX(-.2rem);
}
img{
    height:auto;
    width:50rem;
    float:left;
}
.donateleft{
    margin:0;
    padding:0;
    display:block;
    float:left;
    height:auto;
    width:calc(100%/2);
    position:relative;
}