html,body{
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    font-size:62.5%;
}
body{
    margin:0;
    background-color:#f1f1f1;
}
header{
    width:100%;
    background-color:#728ba8;
}
#space{
    height:5rem;
    width:100%;
    background-color:#ffffff;
}
#slide_show{
    margin:0 auto;
    text-align:center;
    display:block;
    box-sizing:border-box;
    position:relative;
}
object{
    display:block;
    margin:0 auto;
    text-align: center;
}
nav{
    text-align: center;
    display: block;
    width:100%;
    background-color:#728ba8;
}

nav > ul{
    display:inline-block;
    margin: 0 auto;
    width:70%;
    
}
nav > ul >li{
    margin:0 auto;
    text-align: center;
    padding:0;
    width:calc(100%/7);
    display:inline;
    border-radius:2rem;
    font-size:2rem;
    float:left;
    background-color:#728ba8;
}
a{color:#ffffff;
    text-decoration: none;
}
a:hover{
    background-color:#ffffff;
    border-radius:.5rem;
    color:#000000;
}    

main{
    margin-top:5rem;
    height:100%;
    width:100%;
    background-color:#f1f1f1;
}

#div_one{
    margin:0 auto;
    margin-top:2rem;
    padding:0;
    height:15rem;
    width:75%;
    box-shadow:.3rem .2rem  #ddd;
    border-radius:.5rem;
    background-color:#ffffff;
}
#div_two{
     margin:0 auto;
    margin-top:2rem;
    padding:0;
    height:30rem;
    width:75%;
    box-shadow:.3rem .2rem  #ddd;
    border-radius:.5rem;
    background-color:#ffffff;
}
.list_left{
    height:90%;
    width:calc(100%/4);
    float:left;
    font-size:1rem;
    list-style:none;
}
.list_middle{
    height:90%;
    width:calc(100%/4);
    float:left;
    font-size:1rem;
    list-style:none;
}
.list_right{
    height:90%;
    width:calc(100%/4);
    float:left;
    font-size:1rem;
    list-style:none;
}

.li_color >a{
    clear:both;
    list-style:none;
    color:#53a7d2;
}

.h2 >a{
   clear:both;
    text-decoration: none;
    color:#000000;
}
a:hover{
    color:#53a7d2;
}

#return{
    margin:2rem;
    float:left;
    font-size:1.2rem;
}
#return >a{
    clear:both;
    color:#000000;
}
#copyright{
    margin:2rem;
    float:right;
    font-size:1.2rem;
}
/*about_us*/
.div_topleft{
    margin:0 auto;
    box-shadow:.3rem .2rem  #ddd;
    padding:0;
    height:90rem;
    width:75%;
    position:relative;
}
.ul_left{
    margin:0;
    padding:0;
    display:block;
    text-align:center;
    float:left;
    height:auto;
    width:calc(100%/2);
    position:relative;
}
.ul_left >li{
    margin:1rem;
    list-style:none;
    font-size:1.5rem;
}
.h1_left{
   clear:both;
    float:left;
}
.h1_left{
    margin:1rem;
    padding:1rem;
    text-align: center;
    
}
.section_right{
    margin:0;
    padding:0;
    float:right;
    height:100%;
    width:calc(100%/4);
    position:relative;
}
.div_right{
    margin:1rem;
    padding:0;
    text-align:center;
    display:block;
    height:20rem;
    width:20rem;
    float:right;
    border:.2rem solid #ddd;
    background-color:#ffffff;
}
.ul_inside{
    margin:0 auto;
    padding:0;
    text-align:center;
    display:block;
    list-style:none;
    font-size:1rem;
}
.ul_inside >a{
    clear:both;
    color:#53a7d2;
    text-decoration:underline;
}
hr{
    width:80%;
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}

#div_news{
    position:relative;
}
/*contact*/
#contact_left{
   margin:0 auto;
    box-shadow:.3rem .2rem  #ddd;
    padding:0;
    height:90rem;
    width:75%;
    position:relative;
    background-color:#ffffff;
}
.c_left{
    margin:0 auto;
    width:calc(100%/3);
    text-align: center;
    font-size:2rem;
    float:left;
}